@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
/* Add the shining effect to the navigation buttons */
/* Add the shining effect to the navigation buttons */




/*NAVIGATION*/

/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}
nav {
  margin: 10px 10px 40px 40px; /* top right bottom left */
  padding: 0;
  align-items: right;
}

.nav-links {
  list-style: none;
  text-align: right; /* Align the navigation links to the right */
}

.nav-links li {
  display: inline-flex; /* Use inline-flex to keep them horizontal */
  align-items: center; /* Center items vertically */
  margin-left: 20px; /* Add spacing between the navigation links */
}

.nav-links li:first-child {
  margin-left: 0; /* Remove left margin from the first option */
}

.nav-links li:not(:last-child)::after {
  content: "|";
  margin-left: 10px; /* Adjust the spacing between the vertical bars */
  color: white;
}

.nav-links li a {
  display: flex; /* Use flexbox to align items vertically */
  align-items: center; /* Center items vertically */
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the height of the shining effect line */
  background: rgba(182, 182, 182, 0.672); /* Shining effect color */
  top: 100%; /* Position it just below the link text */
  left: 0;
  transform: scaleX(0); /* Start with no width */
  transform-origin: center;
  transition: transform 0.3s ease; /* Adjust the animation speed if needed */
  z-index: -1;
}

.nav-links li a:hover {
  color: rgba(185, 179, 179, 0.8); /* Change link text color on hover */
}

.nav-links li a:hover::before {
  transform: scaleX(1); /* Expand the line to full width */
}



/*NAVIGATION END */






/*HEADER/BODY*/

header {
  background-color: #01031a;
  color: white;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050A30;
}

/* Set text color to white */
body, h1, p {
  color: white;
}

:root {
  --color-white: #fff;
  --color-pink: #412331;
  --color-black: #050A30;
}
  

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

body {
  font-family: 'monospace', sans-serif;
}

/*HEADER/BODY END*/


















/*PADRÕES*/

.Title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  font-size: 16px;
  color: white;
  margin-top: 30px !important;
  margin-left: 40px;
 
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 30px; 
  width: 45px; 
  height: 45px;
}

/*PADRÕES*/


















/*WELCOME*/


#Dashboard {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items evenly horizontally */
}

.mypic {
  width: 200px; /* Set a fixed width for the .mypic div */
  height: 200px; /* Set a fixed height for the .mypic div */
  border-radius: 50%;
  opacity: 0.7;
  margin-right: 90px; /* Adjust the margin as needed to separate text and image */
  overflow: hidden; /* Hide any content that goes beyond the rounded corners */
  margin-top: 150px;

}

.mypic img {
  width: 100%; /* Make the image fill the entire .mypic div */
  height: 100%; /* Make the image fill the entire .mypic div */
  filter: grayscale(100%); /* Apply black and white filter */
  object-fit: cover;
}


#Home {
  height: 100vh;
  background: #050A30;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.Presentation {
  flex: 1; /* Allow the text to occupy available space */
  font-size: 20px;
  padding-left: 50px; /* Adjust the padding as needed */
  position: relative;
  margin-top: 200px;
  margin-bottom: 50px;
  margin-left: 150px;
  position: center;
 
}

.line {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from{
    width: 0;
  }
  to{
    width: 15.5em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75)
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}





/*About*/

.AboutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Abouttext {
  background: var(--color-black);
  color: white;
  padding: 90px;
  font-size: 18px;
  line-height: 1.6;
  flex: 1;
  }

.Aboutmessage {
  background:  var(--color-black);
  color: white;
  padding: 70px; /* Adjust padding to reduce the space around the message */
  font-size: 13px; /* Increase the font size */
  line-height: 1.6; /* Add some spacing between paragraphs */
 /* Adjust margin to reduce the space below the message */
  /* Keep the same margin as .Abouttext for consistency */
  margin-top: 30px; /* Remove the margin at the top */
  margin-right: 100px;
  text-align: center;
  border-radius: 5%;
}



.Abouttext p {
  margin-bottom: 20px; /* Add margin between paragraphs */
}

.Aboutpic {
  width: 350px;
  height: 400px;
  float: right;
  margin-right: 10px;
  margin-top: 180px;
}



.Aboutpic img {
  width: 100%; /* Make the image fill the entire .mypic div */
  height: 100%; /* Make the image fill the entire .mypic div */
  filter: grayscale(100%); /* Apply black and white filter */
  object-fit: cover; 
}



/*About*/




/*Projects*/

.ProjectsGrid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equally spaced columns */
  gap: 20px; /* Add some spacing between grid items */
}

.Project {
  background: var(--color-black);
  color: white;
  padding: 30px;
  font-size: 18px;
  line-height: 1.6;
  border-radius: 10px;
  align-items: center; /* Center items horizontally within each project */
  text-align: center;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .ProjectsGrid {
    grid-template-columns: repeat(1, 1fr); /* On smaller screens, use a single column */
  }
}


/*--------------------NOCODEPROJECTS-------------------*/


.nocodetext {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.6;
  
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.nocodetitle {
  text-align: center;
  margin-bottom: 12px;

}

.text {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 12px;
}

.images {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
}

.images img {
  margin-bottom: 10px;
  margin-right: 30px;
}

.toolsimg img {
  display: inline-block;
  margin-right: 2px; /* Add some margin to separate the images */
}

.zoomable-image {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}




/*--------------------NOCODEPROJECTS-------------------*/













/*Projects*/


















/*Contact*/

.Contactcontent {
  background: gray;
  color: white;
  padding: 20px; /* Adjust padding to reduce the space around the message */
  font-size: 18px; /* Increase the font size */
  line-height: 1.6; /* Add some spacing between paragraphs */
  margin-bottom: 00px; /* Adjust margin to reduce the space below the message */
  margin-left: 00px; /* Keep the same margin as .Abouttext for consistency */
  margin-top: 0; /* Remove the margin at the top */
  
}



